.jumbotron {
    position: relative;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.image {
    width: 100%;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: start;
    padding-left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-shadow: 0 2px 10px white, 0 -2px 10px white;
}

.container.dark {
    color: white;
    text-shadow: 0 2px 4px black;
}