.container {
    padding-right: 40%;
}

.header {
    font-size: max(2em, min(10vw, 3.5em));
    text-align: center;
}
.subHeader {
    text-align: center;
}

@media(max-width: 450px) {
    .subHeader {
        display: none;
    }
}
