.planJumbotron {
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.image {
    width: 100%;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: start;
    color: white;
    padding-right: 40%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-shadow: 0 2px 4px black;
}

.header {
    font-size: min(10vw, 3.5em);
}

@media(max-width: 450px) {
    .started {
        display: none;
    }
}

@media(max-width: 950px) {
    .planJumbotron {
        border-radius: 0;
    }
}