.container {
    padding-right: 35%;
}

@media(max-width: 950px) {
    .image {
        max-width: 950px !important;
        width: 115% !important;
    }
}

.header {
    font-size: max(2em, min(10vw, 3.5em));
}

.buttons {
    display: flex;
}
.buttons>*:not(:last-child) {
    margin-right: 10px;
}

@media(max-width: 475px) {
    .container {
        justify-content: center;
    }

    .subHeader {
        display: none;
    }

    .buttonExtra {
        display: none;
    }
}