.nav {
    background: white;
    display: flex;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 1000;
    padding-left: 150px;
}

.logoTab {
    background: black;
    padding: 10px;
    position: absolute;
    top: -25px;
    left: 25px;
}

.logo {
    width: 100px;
}

.navLinkContainer {
    display: flex;
}

.navLinks {
    display: flex;
    margin: 0;
}

.navLinks>li {
    list-style-type: none;
    display: flex;
    align-items: center;
}